In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
#데이터의 계산정보 확인
#df 컬럼 중 ㅇnumber에 해당되는 데이터의 개수 평균 표준푠차 최소값 최대값
df.describe()

                키          국어          영어          수학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  61.625000
std      9.985704   29.519969   26.917533   30.325614  33.053798
min    168.000000   15.000000   20.000000   10.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  85.000000
max    202.000000  100.000000  100.000000  100.000000  98.000000

In [ ]:
#not-null의 개수 확인
df.info() # 데이터의 이름, 크기 타입 확인
df.head() # 상단 5개
df.tail() # 하단 5개
df.values # 배열구조 확인
df.columns # 컬럼 확인
df.shape # 크기 확인
df.columns

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   사회      8 non-null      int64
 7   SM특기    8 non-null      object
dtypes: int64(5), object(3)
memory usage: 876.0+ bytes

(8, 8)

In [13]:
df = pd.read_excel('pandas_code.xlsx')
df.shape

(1000, 7)

In [ ]:
df2 = pd.read_excel('score.xlsx')