In [31]:
import pandas as pd
import numpy as np
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=1,usecols='B,E:X')
df.index
df.loc[df.index[0]]

df.loc['전국'] = df.loc['전국  '].str.replace(",","").astype(int)
df.loc['전국']
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df.iloc[0]

c:\Users\kosmo\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

0~4세      1325455
5~9세      1987662
10~14세    2328219
15~19세    2319424
20~24세    2781539
25~29세    3392288
30~34세    3401953
35~39세    3165465
40~44세    4038110
45~49세    3870495
50~54세    4502158
55~59세    4210446
60~64세    4214888
65~69세    3432373
70~74세    2272958
75~79세    1708819
80~84세    1330403
85~89세     719554
90~94세     249099
95~99세      53987
Name: 전국  , dtype: object

In [38]:
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3)
df

c:\Users\kosmo\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,행정기관코드,행정기관,총 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세.8,60~64세.8,65~69세.8,70~74세.8,75~79세.8,80~84세.8,85~89세.8,90~94세.8,95~99세.8,100세 이상.8
0,0,전국,"51,313,912","51,313,912","1,325,455","1,987,662","2,328,219","2,319,424","2,781,539","3,392,288",...,"2,105,198","2,121,843","1,783,888","1,215,887","955,878","808,801","496,483","193,191","45,545","7,214"
1,1100000000,서울특별시,"9,384,325","9,384,325","211,748","299,091","354,555","377,540","553,041","798,816",...,"360,962","366,829","329,449","228,279","180,891","132,421","72,657","27,256","6,930","1,154"
2,2600000000,부산광역시,"3,290,964","3,290,964","74,907","118,343","134,092","129,299","172,046","203,398",...,"138,571","154,615","142,675","102,116","76,228","58,004","31,368","11,006","2,761",375
3,2700000000,대구광역시,"2,373,844","2,373,844","57,238","92,427","106,301","107,586","133,313","147,726",...,"106,278","106,114","86,312","63,353","46,932","39,980","22,641","8,228","1,715",232
4,2800000000,인천광역시,"3,000,454","3,000,454","82,408","119,401","137,464","134,713","159,832","203,214",...,"128,442","126,968","99,315","60,530","47,240","37,596","23,304","9,556","2,472",387
5,2900000000,광주광역시,"1,418,241","1,418,241","38,583","60,393","72,791","74,470","90,449","99,751",...,"58,249","54,109","43,018","30,709","25,040","19,109","11,140","4,456","1,008",181
6,3000000000,대전광역시,"1,441,562","1,441,562","39,502","56,633","67,164","70,390","90,571","107,960",...,"58,644","57,353","47,372","30,946","23,318","19,169","11,601","4,459","1,038",176
7,3100000000,울산광역시,"1,103,402","1,103,402","29,870","48,640","56,137","53,355","54,943","67,237",...,"51,092","47,697","37,046","22,894","14,967","11,433","6,524","2,487",585,75
8,3600000000,세종특별자치시,"386,944","386,944","17,103","26,298","27,854","22,993","17,619","20,006",...,"11,444","10,448","8,498","5,211","3,603","3,123","2,165",978,247,35
9,4100000000,경기도,"13,635,250","13,635,250","399,510","584,512","668,934","651,206","752,594","924,610",...,"554,636","520,773","409,249","257,817","204,403","165,132","101,177","39,544","9,822","1,506"
10,5100000000,강원특별자치도,"1,526,243","1,526,243","38,233","52,133","63,066","65,512","78,543","84,036",...,"64,178","73,334","64,764","41,726","35,395","33,345","20,671","7,977","2,158",315
11,4300000000,충청북도,"1,592,155","1,592,155","41,264","61,428","72,376","71,852","82,279","98,144",...,"67,458","68,758","59,441","38,780","30,229","29,414","19,354","7,485","1,634",230
12,4400000000,충청남도,"2,130,509","2,130,509","56,744","86,221","102,191","99,857","106,537","118,432",...,"81,676","86,756","74,372","53,084","42,107","41,506","29,868","12,114","2,636",439
13,5200000000,전북특별자치도,"1,752,921","1,752,921","38,728","62,946","80,408","83,548","93,829","95,926",...,"72,292","76,722","66,583","50,958","42,677","40,842","27,180","11,094","2,522",424
14,4600000000,전라남도,"1,802,672","1,802,672","43,283","63,696","79,385","79,173","86,369","90,957",...,"73,429","80,260","69,226","53,757","48,998","49,667","33,031","13,102","2,772",525
15,4700000000,경상북도,"2,551,370","2,551,370","58,980","91,710","108,784","108,524","119,259","127,333",...,"109,726","120,187","103,705","78,738","58,226","60,147","39,342","15,256","3,338",522
16,4800000000,경상남도,"3,248,703","3,248,703","77,779","132,427","160,365","155,377","155,275","166,153",...,"141,051","144,733","121,561","83,168","63,496","57,675","37,391","14,780","3,163",378
17,5000000000,제주특별자치도,"674,353","674,353","19,575","31,363","36,352","34,029","35,040","38,589",...,"27,070","26,187","21,302","13,821","12,128","10,238","7,069","3,413",744,260

In [77]:
fd = pd.read_excel('출산율3.xlsx',skiprows=2,nrows=2,index_col=0)
fd.index.name = '목록'
# fd['2014'] # 세로
# fd.loc[] # 가로방향
fd.index.values

c:\Users\kosmo\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)